# virtualenv environment description for Jupyter-based
# MIDOSS visualization on the Compute Canada Graham machine
#
# Create a virtualenv containing these packages with:
#
#    module load python/3.8.2
#    python3 -m virtualenv --no-download ~/venvs/midoss-jupyter
#    source ~/venvs/midoss-jupyter/bin/activate
#    python3 -m pip install -r requirements-graham-midoss-jupyter.txt

bottleneck
cmocean
ipywidgets
jupyterlab
matplotlib
netCDF4
scipy
xarray
